*{
    box-sizing: border-box;
}
.box-parpent {
    margin: 20px ;
    margin-top: 50px;
    background-color: rgba(165, 254, 254, 0.892);
    width: 500px;
    height: 300px;
    padding: 20px;
    text-align: center;
    border-width: 2px; /* độ dày của border */
    border-color: blue; /*Màu border*/
    border-style: dotted;
    border: 5px solid blue; /*cú pháp viết tắt*/


}
.displays {
}
.displays-inline {
    background-color: blue;
    display: inline;
    width: 20px;
    height: 30px;
    margin: 20px 30px;
}

.displays-block {
    background-color: brown;
    display: block;
    margin: 20px;
}
.displays-inline-block {
    background-color: rgb(127, 255, 161);
    display: inline-block;
    height: 40px;
}
.displays-none {
    background-color: chocolate;
    display: none;
}
.opacity {
    background-color: red;
    height: 30px;
    width: 20px;
    margin: 50px;
    opacity: 0.8;
}
.hidden{
    visibility: hidden;
    height: 100px;
}
.alpha{
    background-color: rgba(0,0,0,0.5);
    height: 100px;
    width: 100px;
}
.parent {
    height: 400px;
    width: 600px;
    background-color: aqua;
    
    left: 10px;
    top: 20px;
}
.children {
    height: 300px;
    width: 300px;
    background-color: blue;
    position: absolute;
    left: 10px;
    top: 10px;
    
}
.grand-children {
    height: 100px;
    width: 100px;
    background-color: rgb(183, 240, 240);
    position: absolute;
    right: 10px;
    bottom: 10px;

}
.button{
    position: fixed;
    right: 20px;
    bottom: 20px;

}
.header{
    background-color: aquamarine;
    height: 20px;
    position: sticky;
    top:0;
    z-index: 100;
}



