.box{
height: 40px;
width: 100px;
background-color: red;
text-align: center;
line-height: 40px;
transition: all 1s ease-out;
}
.box:hover{
    background-color: #1461dc;

}
.transfrom {
    height: 100px;
    width: 100px;
    background-color: aqua;
    margin: 20px;
    transition: transform 1s linear;
}
.transfrom:hover{
    
    transform: skew(10deg);
}
.loading{
    height: 100px;
    width: 100px;
    border: 5px solid red;
    border-radius: 50%;
    border-top: 5px solid transparent;
    animation: loader 1s infinite;

}
@keyframes loader {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
    
}